<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755264115705-jv8q2a6rodgkth1ncfb23kpvm853si8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755264115705-jv8q2a6rodgkth1ncfb23kpvm853si8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755264115705-s00i0kg6d3ln9sn6vvcm1ime5aunm33q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDohehJPIEP6dymoX8WRlCk0nbaIcBD7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>755264115705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.matherly.pna.play</string>
	<key>PROJECT_ID</key>
	<string>play-2f9e6</string>
	<key>STORAGE_BUCKET</key>
	<string>play-2f9e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755264115705:ios:870cd8fbde6bc66f222328</string>
	<key>DATABASE_URL</key>
	<string>https://play-2f9e6.firebaseio.com</string>
	<key>NSCameraUsageDescription</key>
    <string>Allow Access To Your Camera To Take a Picture</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Allow Access to location always</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Allow Access To Your Current Location</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow Access To Your Microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow Access To Your Photos To Upload</string>
</dict>
</plist>